@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(11, 92%, 65%);
  transition: 0.4s;
  padding: 3px;
}

.dark-input {
  background-color: #333;
  color: #fff; /* Text color for better readability */
}
.dark-input::placeholder {
  color: hsl(0, 0%, 46%); /* Text color for better readability */
}

.btn{
  background-color: hsl(11, 92%, 65%);
  border-color: hsl(11, 92%, 65%);
}
.btn:hover{
  background-color: hsl(184, 94%, 40%);
  border-color: hsl(184, 94%, 40%);
}

.no-marker-ul {
  list-style-type: none;
  padding-left: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(20, 65%, 15%);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    flex-direction: column;
  }

  #app {
    padding: 0 1rem;
  }
}
